a 
{
    display: inline-block;
    background: rgb(7, 7, 7);
    width: 100%;
    height: auto;
    color: antiquewhite;
}  

img {
    height: auto;
    width: 100%;
    object-fit: contain;
}
h1{text-align:center;}
           
.effet_3D { 
       /* margin: 730px ; */
        text-align: left; 
        color: black; 
        font-size: 1cm;
        
          } 
.cats {
            width: 20%;
            height: auto;
        }   

.photo {
          width: 200px;
          height: 121px;
        }
        
  
        
    table,
        th,
         td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
          }
        
  

    aside {
      width: 30%;
      height: 865px;
      padding-left: 15px;
      margin-left: 15px;
      float: right;
      font-style: italic;
      background-color: rgb(143, 131, 131);
    }
    @media screen and (max-width: 576px) 
    { 
        h1 
        { 
            font-size : 20px; 
        } 
        p 
        {
            font-size: xx-large;
        }    
    }

    
    @media screen and (max-width: 768px) 
    { 
        h1 
        { 
           font-size: large;
        } 
        p 
        {
            font: optional;
        }
    }     